html {
  font-size: 62.5%;
}
body {
  background: #E3DFD2;
  font-size: 1.4rem;
}
/* =14px */
h1 {
  font-size: 2.4rem;
}
@font-face {
  font-family: 'Asterina';
  src: url('asterina.otf') format('opentype');
  /* Aggiungi altri formati del font se necessario per supportare diversi browser */
}






h2 {
  font-family: 'Asterina', sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #333333f3;
  text-align: center;
  letter-spacing: 0px;
  margin-bottom: 20px;
}
h2 .number {
  color: #00000088;
  font-weight: bold;
}
.separator {
  width: 100%; /* Personalizza la lunghezza della linea */
  height: 1px; /* Personalizza lo spessore della linea */
  background-color: black; /* Personalizza il colore della linea */
  margin: 0.5em 0; /* Aggiungi uno spazio sopra e sotto la linea */
  border: none; /* Rimuovi il bordo della linea */
}


.avanti-container {
  margin-top: -30px;
  display: flex;
}
.avanti {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 18px; /* Imposta la dimensione del testo a tuo piacimento */
  cursor: pointer;
  outline: none; /* Rimuovi la bordatura attorno al bottone quando è selezionato */
  margin-left: auto; /* Allinea a destra */
}

.indietro {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 18px; /* Imposta la dimensione del testo a tuo piacimento */
  cursor: pointer;
  outline: none; /* Rimuovi la bordatura attorno al bottone quando è selezionato */
  margin-right: auto; /* Allinea a sinistra */
}








@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100);
.aboutAnimation {
  font-weight: 100;
  font-size: 14px;
  color: #000000;
  font-family: 'Roboto Mono', monospace;
  background: #21212100;
  height: 100%;
}
.dud {
  color: #929292;
}
.containerr {
  height: 100%;
  width: 100%;
  justify-content: left;
  align-items: center;
  display: flex;
}
  

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

#form {
  position: relative;
  width: 90%; /* Utilizza il 90% della larghezza del viewport */
  
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 90%; /* Utilizza il 100% della larghezza del contenitore */
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #726659;
  border: solid 1px #b3aca7;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 90%; /* Utilizza il 100% della larghezza del contenitore */
  max-width: 90%; /* Imposta una larghezza massima del 100% */
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: solid 1px #b3aca7;
  transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 20%; /* Utilizza il 100% della larghezza del contenitore */
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  outline:none;
  cursor: pointer;
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}

/* Media query per dispositivi con larghezza inferiore a 768px (ad es. telefoni) */
@media (max-width: 768px) {
  #form {
    width: 90%; /* Regola la larghezza per dispositivi mobili */
  }
  
  input,
  textarea,
  #submit {
    width: 90%; /* Utilizza il 100% della larghezza per dispositivi mobili */
  }
}


/* Animazione per far apparire il menu */
@keyframes fadeInMenu {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Animazione per far scomparire il menu */
@keyframes fadeOutMenu {
  from {
      opacity: 1;
      transform: translateY(0);
  }
  to {
      opacity: 0;
      transform: translateY(-20px);
  }
}

.nav-menu {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(-20px);
  z-index: -1;
  animation-duration: 0.3s;
  backdrop-filter: blur(3px); /* Applica l'effetto di sfocatura */
  -webkit-backdrop-filter: blur(3px); /* Per Safari */
  background-color: rgb(255, 255, 255); /* Colore dello sfondo sfocato */
  
  
}

.nav-menu.open {
  display: block;
  z-index: 1;
  animation-name: fadeInMenu;
  animation-fill-mode: forwards;
}

.nav-menu.close {
  animation-name: fadeOutMenu;
  animation-fill-mode: forwards;
}

/* Resto dei tuoi stili rimangono invariati */
.menu-list {
  list-style-type: none;
  padding: 0;
}

.menu-list li {
  
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.5rem;
  margin-bottom: 10px;
  padding-bottom: 25px;
}

.menu-list li a {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Imposta un'ombra con offset x di 2px, offset y di 2px, sfumatura di 4px e colore nero con trasparenza */
  text-decoration: none;
  color: #0c383e;
  transition: color 0.3s ease-in-out;
}

.menu-list li a:hover {
  color: #196083;
}



.heading-as-link {
  font-family: "Asterina";
  color: rgb(0, 0, 0); /* Cambia il colore per i link se necessario */
  text-decoration: none; /* Aggiungi un'indicazione di link */
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}



/* Stili per il footer */
.footer {
  bottom: 0;
  width: 100%;
  background-color: #ffffff00;
  padding: 20px 0;
  text-align: center;
  color: #000000;
}

/* Altri stili per l'animazione e l'aspetto del menu */


/* =24px */
.container__item {
  margin: 0 auto 40px;
}
.landing-page-container {
  width: 100%;
  min-height: 100%;
  height: 90rem;
  background-image: url('https://s29.postimg.org/vho8xb2pj/landing_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #09383e;
}
.content__wrapper {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
  padding: 4.5rem 0;
  position: relative; /* Aggiungi posizione relativa per il contesto di posizionamento */
  /*border-bottom: 1px solid #0000006c; */
}

.nav-menu {
  position: absolute; /* Posizionamento assoluto per il menu */
  top: 100%; /* Posizionamento sotto l'icona del menu */
  left: 0;
  background-color: #ffffff00; /* Aggiungi un colore di sfondo al menu */
  z-index: 1; /* Assicura che il menu sia sopra l'icona del menu */
  display: none; /* Nascondi inizialmente il menu */
}

.header:hover .nav-menu {
  display: block; /* Mostra il menu quando si passa sopra l'header */
}

.menu-icon {
  width: 2.5rem;
  height: 1.5rem;
  cursor: pointer;
}


.header__item {
  margin-right: 20px; /* Aggiungi spaziatura tra gli elementi */
}

.social-container .social__icon a {
  color: black; /* Colore di base */
  transition: color 0.3s ease-in-out; /* Aggiungi una transizione al cambio di colore */
}


.social-container .social__icon a:hover {
  color: #196083; /* Cambia il colore al passaggio del mouse */
}

.menu-icon__line {
  width: 1.5rem;
  height: 0.2rem;
  background-color: #0c383e;
  display: block;
}
.menu-icon__line:before, .menu-icon__line:after {
  content: '';
  width: 1.5rem;
  height: 0.2rem;
  background-color: #0c383e;
  display: inline-block;
  position: relative;
}
.menu-icon__line:before {
  left: 0.5rem;
  top: -0.6rem;
}
.menu-icon__line:after {
  top: -1.8rem;
}
.heading {
  width: 90%;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.7rem;
  margin: 0 auto;
  text-align: center;
  margin-left: 20px; /* Aggiunta di un margine sinistro */
}
.social-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Utilizza flexbox per allineare le icone social */
}
.social-container .social__icon {
  margin-right: 9px; /* Modifica la distanza tra le icone regolando questo valore */
}

.social-container .social__icon {
  float: left;
  cursor: pointer;
}
.social-container .social__icon.social__icon--dr {
  margin-left: 0.5rem;
}
.social-container .social__icon.social__icon--dr img {
  height: 2rem;
}
.social-container .social__icon.social__icon--in {
  margin-left: 0.75rem;
}
.social-container .social__icon.social__icon--in img {
  height: 2rem;
}
.social-container .social__icon.social__icon--fb img {
  height: 2rem;
  margin: 0rem;
}
.coords {
  user-select: none;
  font-size: 1rem;
  display: inline-block;
  transform: rotate(-90deg) translateY(50%);
  float: left;
  position: relative;
  top: 40%;
  letter-spacing: 0.4rem;
  left: -11.5rem;
  margin: 0;
}
.ellipses-container {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 10.5rem;
}
.ellipses-container .greeting {
  text-align: center;
  position: absolute;
  top: 11.6rem;
  left: 5rem;
  right: 0;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 4rem;
  font-size: 2.2rem;
  font-weight: 400;
  opacity: 0.4;
}
.ellipses-container .greeting:after {
  content: '';
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #0c383e;
  position: relative;
  top: -0.65rem;
  left: -5.05rem;
}
.ellipses {
  border-radius: 50%;
  position: absolute;
  top: 0;
  border-style: solid;
}
.ellipses__outer--thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: rgba(9, 56, 62, 0.1);
  animation: ellipsesOrbit 15s ease-in-out infinite;
}
.ellipses__outer--thin:after {
  content: "";
  background-image: url('https://s29.postimg.org/5h0r4ftkn/ellipses_dial.png');
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.15;
}
.ellipses__outer--thick {
  width: 99.5%;
  height: 99.5%;
  border-color: #09383e transparent;
  border-width: 2px;
  transform: rotate(-45deg);
  animation: ellipsesRotate 15s ease-in-out infinite;
}
.ellipses__orbit {
  width: 2.5rem;
  height: 2.5rem;
  border-width: 2px;
  border-color: #09383e;
  top: 5rem;
  right: 6.75rem;
}
.ellipses__orbit:before {
  content: '';
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #09383e;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .ellipses-container {
    width: 30rem;
    height: 30rem;
    top: 6.5rem;
  }

  .ellipses-container .greeting {
    top: 7.6rem;
    left: 2.5rem;
    letter-spacing: 2rem;
    font-size: 1.5rem;
  }

  .ellipses-container .greeting:after {
    width: 0.2rem;
    height: 0.2rem;
    top: -0.45rem;
    left: -2.55rem;
  }

  .ellipses__outer--thin {
    animation-duration: 10s; /* Adjusting animation duration for smaller screens */
  }

  .ellipses__orbit {
    width: 1.5rem;
    height: 1.5rem;
    top: 3rem;
    right: 4.5rem;
  }

  .ellipses__orbit:before {
    width: 0.5rem;
    height: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}



.scroller {
  width: 7.5rem;
  display: inline-block;
  float: right;
  position: relative;
  top: -15%;
  transform: translateY(50%);
  overflow: hidden;
}
.scroller .page-title {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.5rem;
  display: inline-block;
  float: left;
  user-select: none;
  margin-top: 1rem;
}
.scroller .timeline {
  width: 1.5rem;
  height: 9rem;
  display: inline-block;
  float: right;
}
.scroller .timeline .timeline__unit {
  width: 100%;
  height: 0.1rem;
  display: block;
  background-color: #0c383e;
  margin: 0 0 2rem;
  opacity: 0.2;
}
.scroller .timeline .timeline__unit.timeline__unit--active {
  opacity: 1;
}
.scroller .timeline .timeline__unit.timeline__unit--active:after {
  opacity: 0.2;
}
.scroller .timeline .timeline__unit:after {
  content: '';
  width: 70%;
  height: 0.1rem;
  display: block;
  position: relative;
  float: right;
  background-color: #0c383e;
  top: 1rem;
}
@keyframes ellipsesRotate {
  0% {
    transform: rotate(-45deg);
 }
  100% {
    transform: rotate(-405deg);
 }
}
@keyframes ellipsesOrbit {
  0% {
    transform: rotate(0);
 }
  100% {
    transform: rotate(360deg);
 }
}
